/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

@layer base {
  body {
    background-color: green;
  }
}

/* Custom Slider Styles */
.slider-item {
  background-color: white;
  height: 450px;
  color: black;
  border-radius: 1rem;
}

.slider-item-top {
  height: 14rem; /* Approximation of Tailwind's h-56 */
  border-top-left-radius: 0.75rem; /* Approximation of rounded-t-xl */
  border-top-right-radius: 0.75rem;
  background-color: #6366f1; /* Approximation of bg-indigo-500 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-item-image {
  justify-content: center;
  height: 11rem; /* Approximation of h-44 */
  width: 11rem; /* Approximation of w-44 */
  border-radius: 9999px; /* Rounded-full */
}

.slider-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; /* Approximation of gap-4 */
  padding: 1rem; /* Approximation of p-4 */
}

.slider-item-title {
  font-size: 1.25rem; /* Approximation of text-xl */
  font-weight: 600; /* Approximation of font-semibold */
}

.slider-item-button {
  background-color: green; /* Approximation of bg-indigo-500 */
  color: white;
  font-size: 1.125rem; /* Approximation of text-lg */
  padding: 0.25rem 1.5rem; /* Approximation of px-6 py-1 */
  border-radius: 1rem; /* Approximation of rounded-xl */
}
