    /* File: src/components/Todo.css */
      
      .todo-container {
        background: white(41, 33, 33);
        width: 20em;
        height: 15em;
        margin: 1em auto;
        border-radius: 15px;
        padding: 20px 10px;
        border: 3px solid rgb(36, 110, 194);
        overflow-y: scroll;
        overflow-wrap: break-word;
      }

      input[type='checkbox'] {
        display: none;
      }

      .lbl-toggle {
        display: block;
        color: black;
      }

      .lbl-toggle:hover {
        color: #7C5A08
      }

      .collapsible-content {
        max-height: 0px;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
      }

      .toggle:checked + .lbl-toggle + .collapsible-content {
        max-height: 100vh;
      }

      .toggle:checked + .lbl-toggle::before {
        transform: rotate(90deg) translateX(-3px);
      }
      
      .toggle:checked + .lbl-toggle {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .lbl-toggle::before {
        content: ' ';
        display: inline-block;
      
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid currentColor;
      
        vertical-align: middle;
        margin-right: .7rem;
        transform: translateY(-2px);
      
        transition: transform .2s ease-out;
      }

      .task {
        border: 1px solid black;
        border-radius: 5px;
        padding: 0.5em;
        margin: 0.5em;
      }

      .task button{
        background: rgb(12, 124, 251);
        border-radius: 5px;
        margin: 0px 5px;
        padding: 3px 5px;
        border: none;
        cursor: pointer;
        color: black;
      }
      
      .tasks {
        color: black;
      }

      .header {
        margin: 0.5em;
        font-size: 2em;
        text-align: center;
      }
      
      .create-task input[type=text] {
        margin: 2.5em 2em;
        width: 80%;
        outline: none;
        border: none;
        padding: 0.2em;
      }
  