/* General body styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header styles */
.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

/* Study room post styles */
.study-room {
  width: 100;
  background: #e3f2fd;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.study-room h2 {
  margin-top: 0;
}

/* Button styles */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: #0056b3;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.main-content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.left-sidebar, .right-sidebar {
  width: 20%;
}

.study-rooms {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-background {
  width: 100%;
  height: 150px; /* Adjust based on your preference */
  background-size: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
